body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .container {
    display: flex;
    height: 100vh;
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    background-color: #ffffff;
  }
  
  
  .right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  
  .img-wrapper {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(to bottom right, #1C2331, #5D5D81);
  }
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  
  #greeting {
    text-align: left;
  }
  
  h1 {
    background: linear-gradient(to right, black, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
  }
  
  .red-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .red-button:hover {
    background-color: darkred;
  }
  
  .blue-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .blue-button:hover {
    background-color: darkblue;
  }
  