* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f8f8f8;
}

header {
  color: #000000;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 32px;
  font-weight: bold;
  background-image: linear-gradient(to right, #4800ff, #000000);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.project-list {
  margin: 20px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 15px;
}

.project .details {
  flex: 1;
}

.project h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.project p {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.project a {
  display: inline-block;
  padding: 5px 10px;
  background-color: #8d60ff;
  color: #
